<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/img/questions.svg" width="50" height="50"></a>
    <a href="/perguntar " class="btn btn-light">Perguntar <i class="far fa-question-circle"></i></a>
</nav>